*{
  background-color: darkorange;
}
.card{
  background-color: black;
  border-radius: 50px ;
  padding :100px;
  border: 20px solid white;
  margin: 100px;

}
.Navbar{
  background-color: yellow;
  width:80%;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}